{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}</p>
</div>
<ul id="posts">

 {{ .Content }}
  
</ul>
{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
