  <footer id="footer">
    <nav>
      <ul>
        <li>
            <a href="/download/">Download</a>
        </li>
        <li>
          <a href="https://codeberg.org/gitnex/GitNex/releases">Releases</a>
        </li>
        <li>
          <a href="https://codeberg.org/gitnex/GitNex/issues">Issues</a>
        </li>
        <li>
          <a href="https://codeberg.org/gitnex/GitNex/wiki">Wiki</a>
        </li>
        <li>
          <a href="https://codeberg.org/gitnex/GitNex/src/branch/main/fastlane/metadata/android/en-US/images/phoneScreenshots">Screenshots</a>
        </li>
        <li>
          <a href="https://codeberg.org/gitnex/GitNex">Source Code</a>
        </li>
        <li>
          <a href="/privacy/">Privacy</a>
        </li>
        <li>
          <a rel="me" href="https://mastodon.social/@mmarif" target="_blank">Mastodon</a>
        </li>
      </ul>
    </nav>
    <p>&copy; GitNex</p>
  </footer>
