{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/download/">Download</a> <a class="button outline big" href="https://codeberg.org/gitnex/GitNex">View on Codeberg</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Repositories / Organizations / Issues / PRs / File Browser / Diff view for Files</h3>
        <p>Create new repository under your own namespace or create new organization to create a repository under it. Create new issue, milestone and label in a repository. Comment on issues with markdown and emoji support.</p>
      </div>
      <div class="col col-4 item">
        <h3>Multiple Account Support</h3>
        <p>You can add as many accounts to the app as you wish. :)</p>
      </div>
      <div class="col col-4 item">
        <h3>Notifications</h3>
        <p>GitNex has notifications built in, so you will not miss any critical issue / PR reply.</p>
      </div>
    </div>
    </div>
    <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Markdown / Emoji Support</h3>
        <p>Markdown code and emoji rendering support.</p>
      </div>
      <div class="col col-4 item">
        <h3>Explore Repositories / Issues</h3>
        <p>You can explore(search) repositories or issues globally on your server or instance.</p>
      </div>
      <div class="col col-4 item">
        <h3>Repository Settings</h3>
        <p>You can edit repository properties, transfer a repository or just delete it.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>View Branches / Commits / Milestones / Collaborators / Teams</h4>
        <p>View the branches, milestones and collaborators in list and grid view.</p>
      </div>
      <div class="col col-4 item">
        <h4>Releases</h4>
        <p>Download the latest APK from releases page or checkout the release notes.</p>
      </div>
      <div class="col col-4 item">
        <h4>Settings</h4>
        <p>Choose theme of your taste, change to your native language, choose between pretty and normal date & time and many more options.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
